<section class="container-fluid">
  <div class="row">
    <!-- STUB list of cases -->
    <section id="case-file-list" class="col-md-4">

    </section>

    <!-- <section class="col-md-4">
      <div class="row border-bottom border-dark selectable text-primary">
        <div class="col fw-bold text-dark">XBI-asdfa-YZ</div>
        <div class="col text-end text-dark" title="case created on 6/1/2023"><i class="mdi mdi-calendar"></i> 6/1/2023
        </div>
      </div>
    </section> -->

    <!-- STUB active case -->
    <section id="active-case-file" class="col-12 col-md-8">
      <!-- <div class="card rounded-0 shadow p-2 my-1">
        <div class="fw-bold">
          <h1><i class="mdi mdi-file-account"></i> XBI-absdf-YZ</h1>
          <div class="text-secondary">
            <div><i class="mdi mdi-office-building"></i> Agency: XBI</div>
            <div><i class="mdi mdi-calendar-plus"></i> Created on: Thursday, June 20 2024, at 6pm</div>
            <div> <i class="mdi mdi-calendar-account"></i> Last Opened on: Thursday, June 20 2024, at 7pm</div>
          </div>
        </div>
        <hr />
        <textarea>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga in reiciendis placeat at natus aliquam
          voluptate
          incidunt, vel excepturi necessitatibus exercitationem voluptatem, asperiores tempora eius totam quae ipsa
          ratione nihil.

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum odio dolor, officiis reiciendis, ut fuga
          blanditiis ex provident nesciunt alias voluptatem molestias mollitia. Accusantium aliquid qui voluptatum.
          Dolore, perspiciatis incidunt!

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, commodi sed atque, minus in velit
          consequatur pariatur ut a assumenda dolorum rem eveniet eos ea sapiente veniam vero repellat quo!
        </textarea>
      </div> -->
    </section>
  </div>

</section>